
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.sec2, .sec3, .sec4{
     padding: 20px 15%;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.headers{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.headers .herologo{
    font-size: 24px;
    color: #f9faf8;
}
footer{
color: white;
    background-color: #1F2937;
     padding: 20px 15%;
     text-align: center;
}
/* <!-- First section --> */

.headers, .sec1 {
    color: white;
    background-color: #1F2937;
    padding: 20px 15%;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    gap: 40px;
}
.heroptext{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.heroptext .herostext{
    font-size: 18px;
    font-weight: 300;

}
button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 2px 8px;
    color: white;
}

/* Second Section */

.sec2{
    font-size: 36px;
   font-weight: 900;
   color: #1F2937;
   height: 350px;
   text-align: center;
}
.sec2 .container {
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    
}
.sec2 .container .card img{
    border-radius: 10px;
    border: 2px solid black;
    height: 150px;
    width: 130px;
}

/* Section three */

.sec3{
    background-color: #e5e7eb;
    padding-top: 40px;
    text-align: center;
}
.sec3 .quote{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}
.sec3 .author{
    font-weight: 600;
}

/* Forth Section */

.sec4{
    display: flex;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    width: 800px;
    height: 70px;
    padding: 40px;
    margin: 100px auto;
    border-radius: 8px;
}
.sec4 .lastbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    border: 2px solid white;
    margin:auto;
}
    




